// FILTER SECTION STYLING

.filterMediaType {
  font-family: $bodyFont;
  min-width: 230px;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $bodybackgroundColor;
  padding-bottom: 100%;
}

h4 {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 10px 15px;
  width: 100%;
  margin-top: 20px;
  background-color:#585858;
  color: rgb(255, 255, 255);
}

.filterGroup,
.filterCategory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(230, 223, 223, 0.301);
}

.filterButton {
  width: 100%;
  position: relative;
  font-size: 1.6rem;
  transition: 0.2s;

  input {
    position: absolute;
    top: 50%;
    opacity: 0;
  }

  label {
    padding: 7px 0 7px 20px;
    border-bottom: 1px solid grey;
    text-align: left;
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }

  .itemsCount {
    font-size: 1.4rem;
    color: rgb(77, 77, 77);
  }
}

.filterButton {
  input:focus {
    opacity: 1;
  }
}

.filterButton:hover,
.filterButton:focus {
  background-color: rgb(209, 209, 209);
}

@media (max-width: 550px) {
  .filterMediaType {
    min-width: 170px;
    width: 100%;
    padding: 20px;
    .filterButton {
      font-size: 1.4rem;

      label {
        padding: 5px 5px;
      }
    }
  }

  h4 {
    font-size: 1.4rem;
    padding: 5px;
  }
}
