//FOOTER STYLING

footer {
  padding: 10px 0;
  -webkit-box-shadow: inset -2px 3px 40px 7px #6d6d6d;
  box-shadow: inset -2px 3px 40px 7px #6d6d6d;
}

.footerText {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  a {
    color:$bodyColor;
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  .footerText {
    font-size: 1.6rem;
    line-height: normal;
    flex-direction: column-reverse;
  }
}
