$buttonBackgroundColor: red;



.wrapper {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

.fullWidthWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: serif;
  font-size: 2rem;
  letter-spacing: 400;
  font-weight: 400;
  line-height: 3.2rem;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
