//HEADER STYLING

header {
  position: relative;
}

.App {
  text-align: center;
}

.siteHeader {
 
  background-color: rgb(247, 247, 247);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  -webkit-box-shadow: inset -2px 3px 40px 7px #9e9e9e;
  box-shadow: inset -2px 3px 40px 7px #9e9e9e;
}

h1 {
  font-family: $bodyFont;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-size: 4rem;
  padding: 0px 0 0 15px;

  .logoBook {
    font-size: 3rem;
    padding-bottom: 10px;
  }

  .logoPipe {
    font-size: 7rem;
    font-weight: 100;
  }

  .logoTopia {
    font-size: 3rem;
    padding-bottom: 10px;
  }
}

.logo {
  margin-top: 7vh;
  height: 70vh;
  min-height: 600px;
  background-image: url("../../src/backgroundImages/background.jpg");
  background-color: rgb(255, 255, 255);
  background-position-x: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4rem;
}

.shoppingCartAndWishlist {
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

.shoppingCartAndWishlist li {
  margin: 0 20px;
  position: relative;
}

.shoppingCartAndWishlist li:hover,
.shoppingCartAndWishlist li:focus {
  cursor: pointer;
}

.wishlistCount,
.cartCount {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: brown;
  font-size: 1.3rem;
  position: absolute;
  top: 12px;
  right: 1px;
  padding: 3px 0;
  line-height: normal;
  color: white;
  font-weight: bold;
}

.cartCount {
  right: -4px;
}

.filterMediaType {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.wishlist,
.showCart {
  border: none;
  background: none;
  color: #494848;
  padding: 20px 0 0px 0;
  span {
    padding: 3px;
    display: block;
    font-size: 1.3rem;
  }

  .wishlistIcon,
  .showCartIcon {
    font-size: 2.5rem;
  }
}

.wishlist:hover,
.wishlist:focus,
.showCart:hover,
.showCart:focus {
  color: rgb(139, 0, 0);
  cursor: pointer;
}

//MEDIA QUERIES

@media (max-width: 450px) {
  .siteHeaderWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 8px 0 0 0 ;
    

    .logoBook,
    .logoTopia {
      font-size: 2.7rem;
      padding: 0;
    }
    .logoPipe {
      font-size: 4.5rem;
    }
  }

  .shoppingCartAndWishlist {
    margin: 0;
    padding-right: 15px;
  }

  .showCart,
  .wishlist {
    padding: 15px 0 0 0;

    span {
      padding: 0;
    }
  }
}
