.App {
  text-align: center;
}


.test {
  background-color: red;
  height: 50px;
}
header{
  position: relative;
}

.siteHeader {
  display: flex;
  background-color: rgb(247, 247, 247);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
-webkit-box-shadow: inset -2px 3px 40px 7px #6D6D6D; 
box-shadow: inset -2px 3px 40px 7px #6D6D6D;
}
h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: serif;
    font-size: 4rem;
    padding-left: 40px;
    // text-align: left;
    // dis
    .logoBook {
      font-size: 3rem;
      padding-bottom: 10px;
    }

    .logoPipe {
      font-size: 7rem;
      font-weight: 100;
      // letter-spacing: 1px;
    }

    .logoTopia {
      font-size: 3rem;
      padding-bottom: 10px;

    }

}


.logo {
  margin-top: 8vh;
  height: 70vh;
  min-height: 600px;
  // width: 100vw;
  background-image: url('../../src/backgroundImages/background.jpg');
  background-color: rgb(255, 255, 255);
  // opacity: 0.7;
  // background-blend-mode: overlay;
  background-position-x: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4rem ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.shoppingCartAndWishlist {

  min-height: 50px;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 30px;
  
}
.shoppingCartAndWishlist li {

  margin: 0 20px;
  position: relative;
    
}
.shoppingCartAndWishlist li:hover {

    cursor: pointer;
}
.wishlistCount, .cartCount {

  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: brown;
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 4px 0;
  line-height: normal;
  color: white;
  font-weight: bold;

}


// .inventorySection img {

//   height: 250px; 
//   width: 200px;
//   object-fit:  cover;

// }


.filterMediaType {
  width: 200px;
  display: flex;
  flex-direction: column;
  
}
.wishlist {
  
  border: none;
  background: none;
  color:  rgb(88, 87, 87);
  padding: 20px 0 0px 0;
  span {
    padding: 3px;
    display: block;
    font-size: 1.4rem;
    // color: darkred;
  }

  .wishlistIcon {
    font-size: 3rem;
  }
}

.wishlist:hover, .wishlist:focus,
.showCart:hover, .showCart:focus {
  color: darkred;
  cursor: pointer;
}

.showCart {
  border: none;
  background: none;
  color: rgb(88, 87, 87);
 padding: 20px 0 10px 0;
  span {
    padding: 3px;
    display: block;
    font-size: 1.4rem;
    // color: darkred;
    // color: darkred;
  }
  .showCartIcon{
    font-size: 3rem;

  }
 
 
}


