//Inventory List display Styling

.inventoryDisplay {
  background-color: $bodybackgroundColor;
  font-family: $bodyFont;
}

.inventoryContainer {
  display: flex;
  padding-top: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

