.inventorySection {
  display: flex;
  // flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.fullWidthWrapper {
  
}

@media(max-width: 550px){

.inventorySection {

    flex-direction: column;
}
}

